<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mxs.sampleservice.mapper.SampleMapper">
    <select id="selectListForFixSite" resultType="com.mxs.sampleservice.bo.SampleListForFixSiteBO">
        <!--SELECT b.patient_no as patientNo,b.name as patientName,a.sample_no as sampleNo,a.num,-->
        <!--DATE_FORMAT(a.separation_time,'%Y-%m-%d %H:%i:%s') as separationTime,-->
        <!--DATE_FORMAT(a.fix_at,'%Y-%m-%d %H:%i:%s') as fixedTime,-->
        <!--a.operation_site_user_id as operateUserId,-->
        <!--a.fixed_status as fixedStatus,-->
        <!--a.site_id as siteId-->
        <!--FROM t_sample a LEFT JOIN t_patient_info b ON a.patient_no = b.patient_no-->
        <!--LEFT JOIN t_apply c on a.apply_no = c.apply_no-->
        <!--WHERE c.`status` = 1 AND ((a.flow_status = 1 AND a.return_flag = 1) OR a.flow_status = 2)-->
        <!--<if test="condition.applyNo != null and condition.applyNo != ''">-->
            <!--AND a.apply_no = #{condition.applyNo}-->
        <!--</if>-->
        <!--<if test="condition.mapSiteIdList != null">-->
            <!--AND a.site_id IN-->
            <!--<foreach item="item" index="index" collection="condition.mapSiteIdList" open="(" separator="," close=")">-->
                <!--#{item}-->
            <!--</foreach>-->
        <!--</if>-->
        SELECT b.patient_no as patientNo,b.name as patientName,a.sample_no as sampleNo,a.num,
        DATE_FORMAT(a.separation_time,'%Y-%m-%d %H:%i:%s') as separationTime,
        DATE_FORMAT(a.fix_at,'%Y-%m-%d %H:%i:%s') as fixedTime,
        a.operation_site_user_id as operateUserId,
        a.fixed_status as fixedStatus,
        a.site_id as siteId
        FROM t_sample a LEFT JOIN t_patient_info b ON a.patient_no = b.patient_no
        WHERE a.fixed_status = 0 AND a.return_flag = 1
        AND a.is_deleted = 0
        <if test="condition.applyNo != null and condition.applyNo != ''">
            AND a.apply_no = #{condition.applyNo}
        </if>
        <if test="condition.mapSiteIdList != null">
            AND a.site_id IN
            <foreach item="item" index="index" collection="condition.mapSiteIdList" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
    </select>

    <select id="selectListForDeliverySite" resultType="com.mxs.sampleservice.bo.SampleListForDeliverySiteBO">
        SELECT b.patient_no as patientNo,b.name as patientName,a.sample_no as sampleNo,a.num,
        DATE_FORMAT(a.separation_time,'%Y-%m-%d %H:%i:%s') as separationTime,
        DATE_FORMAT(a.fix_at,'%Y-%m-%d %H:%i:%s') as fixedTime,
        a.fix_user_id as fixUserId,
        a.site_id as siteId
        FROM t_sample a LEFT JOIN t_patient_info b ON a.patient_no = b.patient_no
        LEFT JOIN t_apply c on a.apply_no = c.apply_no
        WHERE c.`status` = 1 AND ((a.flow_status = 2 AND a.return_flag = 1) OR a.flow_status = 3)
        AND a.is_deleted = 0
        <if test="condition.mapSiteIdList != null">
            AND a.fix_site_id IN
            <foreach item="item" index="index" collection="condition.mapSiteIdList" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
    </select>

    <select id="selectListForMultiDeliverySite" resultType="com.mxs.sampleservice.bo.SampleListForDeliverySiteBO">
        SELECT b.patient_no as patientNo,b.name as patientName,a.sample_no as sampleNo,a.num,
        DATE_FORMAT(a.separation_time,'%Y-%m-%d %H:%i:%s') as separationTime,
        DATE_FORMAT(a.fix_at,'%Y-%m-%d %H:%i:%s') as fixedTime,
        a.fix_user_id as fixUserId,
        a.site_id as siteId
        FROM t_sample a LEFT JOIN t_patient_info b ON a.patient_no = b.patient_no
        LEFT JOIN t_apply c on a.apply_no = c.apply_no
        WHERE c.`status` = 1
        AND a.is_deleted = 0
        <if test="sampleNoList != null">
            AND a.sample_no IN
            <foreach item="item" index="index" collection="sampleNoList" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
    </select>

    <select id="selectListForReceiveSite" resultType="com.mxs.sampleservice.bo.SampleListForReceiveSiteBO">
        <!--SELECT b.patient_no as patientNo,b.name as patientName,a.sample_no as sampleNo,a.num,-->
        <!--DATE_FORMAT(a.separation_time,'%Y-%m-%d %H:%i:%s') as separationTime,-->
        <!--DATE_FORMAT(a.fix_at,'%Y-%m-%d %H:%i:%s') as fixedTime,-->
        <!--DATE_FORMAT(a.delivery_site_operate_time,'%Y-%m-%d %H:%i:%s') as deliveryOperateTime,-->
        <!--a.site_id as siteId,-->
        <!--c.pathology_no as pathologyNo,-->
        <!--a.accept_user_id as receiveUserId-->
        <!--FROM t_sample a LEFT JOIN t_patient_info b ON a.patient_no = b.patient_no-->
        <!--LEFT JOIN t_apply c on a.apply_no = c.apply_no-->
        <!--WHERE c.`status` = 1 AND ((a.flow_status = 3 AND a.return_flag = 1) OR a.flow_status = 4)-->
        <!--<if test="siteIdList != null">-->
            <!--AND a.delivery_site_id IN-->
            <!--<foreach item="item" index="index" collection="siteIdList" open="(" separator="," close=")">-->
                <!--#{item}-->
            <!--</foreach>-->
        <!--</if>-->
        SELECT b.patient_no as patientNo,b.name as patientName,a.sample_no as sampleNo,a.num,
        DATE_FORMAT(a.separation_time,'%Y-%m-%d %H:%i:%s') as separationTime,
        DATE_FORMAT(a.fix_at,'%Y-%m-%d %H:%i:%s') as fixedTime,
        DATE_FORMAT(a.delivery_site_operate_time,'%Y-%m-%d %H:%i:%s') as deliveryOperateTime,
        a.site_id as siteId,
        c.pathology_no as pathologyNo,
        a.accept_user_id as receiveUserId
        FROM t_sample a LEFT JOIN t_patient_info b ON a.patient_no = b.patient_no
        LEFT JOIN t_apply c on a.apply_no = c.apply_no
        WHERE ((a.flow_status = 3 AND a.return_flag = 1) OR a.flow_status = 4)
        AND a.is_deleted = 0
        <if test="siteIdList != null">
            AND a.delivery_site_id IN
            <foreach item="item" index="index" collection="siteIdList" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
    </select>

    <select id="selectNumForFixSite" resultType="com.mxs.sampleservice.bo.ExitPromptNumBO">
        SELECT count(a.id) as totalNum,sum(case when a.flow_status=2 then 1 else 0 end) as dealNum
        FROM t_sample a LEFT JOIN t_patient_info b ON a.patient_no = b.patient_no
        LEFT JOIN t_apply c on a.apply_no = c.apply_no
        WHERE c.`status` = 1 AND ((a.flow_status = 1 AND a.return_flag = 1) OR a.flow_status = 2)
        AND a.is_deleted = 0
        <if test="condition.applyNo != null and condition.applyNo != ''">
            AND a.apply_no = #{condition.applyNo}
        </if>
        <if test="condition.mapSiteIdList != null">
            AND a.site_id IN
            <foreach item="item" index="index" collection="condition.mapSiteIdList" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
    </select>

    <select id="selectNumForDeliverySite" resultType="com.mxs.sampleservice.bo.ExitPromptNumBO">
        SELECT count(a.id) as totalNum,sum(case when a.flow_status=3 then 1 else 0 end) as dealNum
        FROM t_sample a LEFT JOIN t_patient_info b ON a.patient_no = b.patient_no
        LEFT JOIN t_apply c on a.apply_no = c.apply_no
        WHERE c.`status` = 1 AND ((a.flow_status = 2 AND a.return_flag = 1) OR a.flow_status = 3)
        AND a.is_deleted = 0
        <if test="condition.mapSiteIdList != null">
            AND a.fix_site_id IN
            <foreach item="item" index="index" collection="condition.mapSiteIdList" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
    </select>

    <select id="selectNumForReceiveSite" resultType="com.mxs.sampleservice.bo.ExitPromptNumBO">
        SELECT  count(a.id) as totalNum,sum(case when a.flow_status=4 then 1 else 0 end) as dealNum
        FROM t_sample a LEFT JOIN t_patient_info b ON a.patient_no = b.patient_no
        LEFT JOIN t_apply c on a.apply_no = c.apply_no
        WHERE c.`status` = 1 AND ((a.flow_status = 3 AND a.return_flag = 1) OR a.flow_status = 4)
        AND a.is_deleted = 0
        <if test="siteIdList != null">
            AND a.delivery_site_id IN
            <foreach item="item" index="index" collection="siteIdList" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
    </select>
</mapper>
